EdgeAI-Server-Room-Monitor.json
[
    {
        "id": "563879ac53263647",
        "type": "tab",
        "label": "Server Room Sim Extended",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ai_brain_group",
        "type": "group",
        "z": "563879ac53263647",
        "name": "AI Decision Unit (Ollama)",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e5f5f9",
            "label": true
        },
        "nodes": [
            "ai_trigger",
            "prepare_context",
            "ollama_req",
            "parse_ai_decision"
        ],
        "x": 714,
        "y": 456.5,
        "w": 832,
        "h": 127
    },
    {
        "id": "2310afe82c8854b7",
        "type": "ui_tab",
        "name": "Server Room Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a60ec0347a1b006",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a3a7ce61ba904b03",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "2310afe82c8854b7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "83e7626fe8a18e1f",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "80823f177ee64944",
        "type": "ui_group",
        "name": "Safety & Security",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b22323a9e7011f7f",
        "type": "ui_group",
        "name": "Temperature Control",
        "tab": "2310afe82c8854b7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c19666be60d975a",
        "type": "ui_group",
        "name": "Humidity Control",
        "tab": "2310afe82c8854b7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "45145f0b0cf2847f",
        "type": "ui_group",
        "name": "Smoke Monitoring",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c10afefbd32c0d0",
        "type": "ui_group",
        "name": "Leak Monitoring",
        "tab": "2310afe82c8854b7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfad264d0de09dd1",
        "type": "ui_group",
        "name": "Security Control",
        "tab": "2310afe82c8854b7",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f58185235de5cea",
        "type": "ui_group",
        "name": "Temperature Control",
        "tab": "2310afe82c8854b7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0de6d57aa0c8fc81",
        "type": "ui_group",
        "name": "Humidity Control",
        "tab": "2310afe82c8854b7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2afc35198296f0c7",
        "type": "ui_group",
        "name": "Smoke Monitoring",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c28438b549762c8",
        "type": "ui_group",
        "name": "Leak Monitoring",
        "tab": "2310afe82c8854b7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bad7f144cd229f83",
        "type": "ui_group",
        "name": "Security Control",
        "tab": "2310afe82c8854b7",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e202cad8ef212141",
        "type": "ui_group",
        "name": "Smoke Control",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd09e1f819112ea9",
        "type": "ui_group",
        "name": "Leak Control",
        "tab": "2310afe82c8854b7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbcc1a9e7657f78f",
        "type": "ui_group",
        "name": "Smoke Control",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e83bce0bb231e8a2",
        "type": "ui_group",
        "name": "Leak Control",
        "tab": "2310afe82c8854b7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e4ce56390305a02",
        "type": "ui_group",
        "name": "Smoke Control",
        "tab": "2310afe82c8854b7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3371c1db9850b47b",
        "type": "ui_group",
        "name": "Leak Control",
        "tab": "2310afe82c8854b7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef3e65563a5865df",
        "type": "debug",
        "z": "563879ac53263647",
        "name": "Humidity output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "aeae6b10569c1198",
        "type": "function",
        "z": "563879ac53263647",
        "name": "Simulate Humidity",
        "func": "let currentHum = flow.get('current_hum') || 50;\nlet newHum;\n\nif (msg.payload !== undefined && typeof msg.payload === 'number' && msg.payload < 101 && msg.payload > 0) {\n    newHum = msg.payload;\n} else {\n    \n    let magnitude = (Math.random() * 0.3) + 1.1;\n\n    let sign = (Math.random() < 0.5) ? 1 : -1;\n\n    let change = magnitude * sign;\n    \n    newHum = currentHum + change;\n}\n\nif (newHum > 90) newHum = 90;\nif (newHum < 20) newHum = 20;\n\nnewHum = parseFloat(newHum.toFixed(1));\n\nflow.set('current_hum', newHum);\n\nmsg.payload = newHum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "ef3e65563a5865df",
                "3ab46b776de3e254",
                "a2c6c0e41776873a"
            ]
        ]
    },
    {
        "id": "710665214a80fea7",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "aeae6b10569c1198"
            ]
        ]
    },
    {
        "id": "d8b2f1114a917905",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "e0e6e48c7864c1f7"
            ]
        ]
    },
    {
        "id": "e0e6e48c7864c1f7",
        "type": "function",
        "z": "563879ac53263647",
        "name": "Simulate Temperature",
        "func": "let currentTemp = flow.get('current_temp') || 24.0;\nlet newTemp;\n\nif (msg.payload !== undefined && typeof msg.payload === 'number' && msg.payload < 100 && msg.payload > 0) {\n    newTemp = msg.payload;\n} else {\n\n    let magnitude = (Math.random() * 0.3) + 1.1;\n\n    let sign = (Math.random() < 0.5) ? 1 : -1;\n\n    let change = magnitude * sign;\n\n    newTemp = currentTemp + change;\n}\n\nif (newTemp > 50) newTemp = 50;\nif (newTemp < 15) newTemp = 15;\n\nnewTemp = parseFloat(newTemp.toFixed(1));\n\nflow.set('current_temp', newTemp);\n\nmsg.payload = newTemp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "9e2ba9d9030495b2",
                "3a524e9b74564340",
                "a2c6c0e41776873a"
            ]
        ]
    },
    {
        "id": "9e2ba9d9030495b2",
        "type": "debug",
        "z": "563879ac53263647",
        "name": "Temperature Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "3a524e9b74564340",
        "type": "ui_gauge",
        "z": "563879ac53263647",
        "name": "",
        "group": "83e7626fe8a18e1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value | number:1}} °C",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "3ab46b776de3e254",
        "type": "ui_gauge",
        "z": "563879ac53263647",
        "name": "",
        "group": "a3a7ce61ba904b03",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage",
        "format": "{{value | number:1}} %",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "f6790eb4fc5d7f20",
        "type": "ui_toast",
        "z": "563879ac53263647",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "CRITICAL ALERT",
        "x": 1610,
        "y": 680,
        "wires": []
    },
    {
        "id": "4fe9a29fec812613",
        "type": "ui_template",
        "z": "563879ac53263647",
        "group": "83e7626fe8a18e1f",
        "name": "Cooling Fan UI",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    .fan-container {\n        width: 180px;  \n        height: 180px;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        margin: auto;\n    }\n\n    .fan-icon {\n        font-size: 160px;\n        color: #cccccc; \n        transition: color 0.5s ease; \n    }\n\n    .spin {\n        animation: fa-spin 2s infinite linear; \n        color: #000000; \n    }\n\n    @keyframes fa-spin {\n        0% {\n            transform: rotate(0deg);\n        }\n        100% {\n            transform: rotate(360deg);\n        }\n    }\n</style>\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n\n<div class=\"fan-container\">\n    <i class=\"fas fa-fan fan-icon\" ng-class=\"{'spin': msg.payload}\"></i>\n</div>\n\n<p style=\"text-align: center; font-size: 24px; margin-top: 10px; margin-bottom: 40px;\">Cooling Fan</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1600,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "832e54bff697d802",
        "type": "ui_template",
        "z": "563879ac53263647",
        "group": "a3a7ce61ba904b03",
        "name": "Dehumidifier UI",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .dehumidifier-container {\n        width: 180px;\n        height: 180px;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        margin: auto;\n    }\n\n    .dehumidifier-icon {\n        font-size: 160px;\n        color: #cccccc; \n        transition: color 0.5s ease;\n    }\n\n    .dehumidifier-icon.active {\n        color: #2F4F2F;\n    }\n</style>\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n\n<div class=\"dehumidifier-container\">\n    <i class=\"fas fa-tint dehumidifier-icon\" ng-class=\"{'active': msg.payload}\"></i>\n</div>\n\n<p style=\"text-align: center; font-size: 24px; margin-top: 10px; margin-bottom: 40px;\">Dehumidifier</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5a099c22c2916f5e",
        "type": "function",
        "z": "563879ac53263647",
        "name": "Simulate Smoke",
        "func": "let currentSmoke = flow.get('current_smoke') || 0;\n\nif (msg.payload !== undefined && typeof msg.payload === 'number') {\n    currentSmoke = msg.payload;\n}\n\nflow.set('current_smoke', currentSmoke);\n\nmsg.payload = currentSmoke;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "b01743244cedf23f",
                "44e1281ec9c7fbaa",
                "9ca9594b5fa775da"
            ]
        ]
    },
    {
        "id": "b01743244cedf23f",
        "type": "ui_gauge",
        "z": "563879ac53263647",
        "name": "",
        "group": "cbcc1a9e7657f78f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Smoke Level",
        "label": "ppm",
        "format": "{{value}} ppm",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "044bc91eb8e0d2a4",
        "type": "ui_template",
        "z": "563879ac53263647",
        "group": "cbcc1a9e7657f78f",
        "name": "Extinguisher UI",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    .smoke-container {\n        width: 180px;  \n        height: 180px;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        margin: auto;\n    }\n\n    .smoke-icon {\n        font-size: 140px;\n        color: #cccccc;\n        transition: color 0.5s ease;\n    }\n\n    .smoke-active {\n        color: #d9534f;\n        animation: shake 0.5s;\n        animation-iteration-count: infinite;\n    }\n\n    @keyframes shake {\n        0% { transform: translate(1px, 1px) rotate(0deg); }\n        10% { transform: translate(-1px, -2px) rotate(-1deg); }\n        20% { transform: translate(-3px, 0px) rotate(1deg); }\n        30% { transform: translate(3px, 2px) rotate(0deg); }\n        40% { transform: translate(1px, -1px) rotate(1deg); }\n        50% { transform: translate(-1px, 2px) rotate(-1deg); }\n        60% { transform: translate(-3px, 1px) rotate(0deg); }\n        70% { transform: translate(3px, 1px) rotate(-1deg); }\n        80% { transform: translate(-1px, -1px) rotate(1deg); }\n        90% { transform: translate(1px, 2px) rotate(0deg); }\n        100% { transform: translate(1px, -2px) rotate(-1deg); }\n    }\n</style>\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n\n<div class=\"smoke-container\">\n    <i class=\"fas fa-fire-extinguisher smoke-icon\" ng-class=\"{'smoke-active': msg.payload}\"></i>\n</div>\n\n<p style=\"text-align: center; font-size: 24px; margin-top: 10px; margin-bottom: 40px;\">Extinguisher</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7598f299465805cb",
        "type": "function",
        "z": "563879ac53263647",
        "name": "Simulate Leak",
        "func": "let currentLeak = flow.get('current_leak') || 0;\n\nif (msg.payload !== undefined && typeof msg.payload === 'number') {\n    currentLeak = msg.payload;\n}\n\nflow.set('current_leak', currentLeak);\n\nmsg.payload = currentLeak;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 760,
        "wires": [
            [
                "89f6d1bd9b9f021b",
                "44e1281ec9c7fbaa",
                "c3b23103c3dc36df"
            ]
        ]
    },
    {
        "id": "89f6d1bd9b9f021b",
        "type": "ui_gauge",
        "z": "563879ac53263647",
        "name": "",
        "group": "e83bce0bb231e8a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leak Rate",
        "label": "%",
        "format": "{{value}} %",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "5",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "db3fc736e9c207f9",
        "type": "ui_template",
        "z": "563879ac53263647",
        "group": "e83bce0bb231e8a2",
        "name": "Leak UI",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    .leak-container {\n        width: 180px;  \n        height: 180px;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        margin: auto;\n    }\n\n    .leak-icon {\n        font-size: 140px;\n        color: #cccccc;\n        transition: color 0.5s ease;\n    }\n\n    .leak-active {\n        color: #1E90FF;\n        animation: blink 1s infinite;\n    }\n\n    @keyframes blink {\n        0% { opacity: 1; }\n        50% { opacity: 0.5; }\n        100% { opacity: 1; }\n    }\n</style>\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n\n<div class=\"leak-container\">\n    <i class=\"fas fa-faucet leak-icon\" ng-class=\"{'leak-active': msg.payload}\"></i>\n</div>\n\n<p style=\"text-align: center; font-size: 24px; margin-top: 10px; margin-bottom: 40px;\">Water Leak</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1660,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ai_trigger",
        "type": "inject",
        "z": "563879ac53263647",
        "g": "ai_brain_group",
        "name": "AI Heartbeat (5s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 520,
        "wires": [
            [
                "prepare_context"
            ]
        ]
    },
    {
        "id": "prepare_context",
        "type": "function",
        "z": "563879ac53263647",
        "g": "ai_brain_group",
        "name": "Construct Prompt",
        "func": "let temp = flow.get('current_temp') || 24;\nlet hum = flow.get('current_hum') || 50;\nlet smoke = flow.get('current_smoke') || 0;\nlet leak = flow.get('current_leak') || 0;\n\nlet last_temp = flow.get('last_temp_memory');\nif (last_temp === undefined) last_temp = temp;\nlet temp_diff = Math.abs(temp - last_temp);\nflow.set('last_temp_memory', temp);\n\nlet last_hum = flow.get('last_hum_memory');\nif (last_hum === undefined) last_hum = hum;\nlet hum_diff = Math.abs(hum - last_hum);\nflow.set('last_hum_memory', hum);\n\nlet temp_alert = (temp_diff > 1.5);\nlet hum_alert = (hum_diff > 5.0);\n\nlet is_critical = temp_alert || hum_alert;\n\nlet alert_msg = \"Normal\";\nif (temp_alert) alert_msg = \"Critical: Sudden Temp Jump!\";\nif (hum_alert) alert_msg = \"Critical: Sudden Humidity Jump!\";\nif (temp_alert && hum_alert) alert_msg = \"DANGER: Both Sensors Unstable!\";\n\nlet fan_req = (temp > 25) || temp_alert;\nlet dehum_req = (hum > 60) || hum_alert; \nlet ext_req = (smoke > 5);\nlet leak_req = (leak > 0);\n\nlet system_instruction = `\nYou are a Critical IoT Controller.\nOutput JSON ONLY based on the input status.\nIf \"critical_alert\" is true, include the \"alert_message\".\n`;\n\nlet user_prompt = `\nStatus Report:\n- fan: ${fan_req}\n- dehumidifier: ${dehum_req}\n- extinguisher: ${ext_req}\n- leak_alarm: ${leak_req}\n- critical_alert: ${is_critical}\n- alert_message: \"${alert_msg}\"\n\nTask: Return this JSON structure:\n{\n  \"fan\": ${fan_req},\n  \"dehumidifier\": ${dehum_req},\n  \"extinguisher\": ${ext_req},\n  \"leak_alarm\": ${leak_req},\n  \"critical_alert\": ${is_critical},\n  \"alert_message\": \"${alert_msg}\"\n}\n`;\n\nmsg.payload = {\n    \"model\": \"llama3.2\",\n    \"stream\": false,\n    \"format\": \"json\",\n    \"system\": system_instruction,\n    \"prompt\": user_prompt,\n    \"options\": { \"temperature\": 0.0, \"seed\": 123, \"num_predict\": 40 },\n    \"keep_alive\": \"5m\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "ollama_req"
            ]
        ]
    },
    {
        "id": "ollama_req",
        "type": "http request",
        "z": "563879ac53263647",
        "g": "ai_brain_group",
        "name": "Ollama API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:11434/api/generate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 520,
        "wires": [
            [
                "parse_ai_decision"
            ]
        ]
    },
    {
        "id": "parse_ai_decision",
        "type": "function",
        "z": "563879ac53263647",
        "g": "ai_brain_group",
        "name": "Route Commands",
        "func": "if (!msg.payload || !msg.payload.response) return null;\n\ntry {\n    let decision = JSON.parse(msg.payload.response);\n\n    let logMessage = \"AI SENT: \" + JSON.stringify(decision);\n    \n    node.warn(logMessage);\n    \n\n    let fan = decision.fan || false;\n    let dehum = decision.dehumidifier || false;\n    let ext = decision.extinguisher || false;\n    let leak = decision.leak_alarm || false;\n    \n    let alert = decision.critical_alert || false;\n    \n    let ai_message = decision.alert_message || \"Critical Alert: Sensors Unstable!\";\n\n    let alertMsg = null;\n    if (alert) {\n        alertMsg = { payload: ai_message };\n    }\n\n    return [\n        { payload: fan },\n        { payload: dehum },\n        { payload: ext },\n        { payload: leak },\n        alertMsg\n    ];\n    \n} catch (e) {\n    node.error(\"JSON Error: \" + e.message);\n    return null;\n}",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 520,
        "wires": [
            [
                "4fe9a29fec812613"
            ],
            [
                "832e54bff697d802"
            ],
            [
                "044bc91eb8e0d2a4"
            ],
            [
                "db3fc736e9c207f9"
            ],
            [
                "f6790eb4fc5d7f20"
            ]
        ]
    },
    {
        "id": "ef0f594bd10b578f",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "fire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 70,
        "y": 580,
        "wires": [
            [
                "5a099c22c2916f5e"
            ]
        ]
    },
    {
        "id": "e36a4b297a6587d3",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "leak",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 70,
        "y": 740,
        "wires": [
            [
                "7598f299465805cb"
            ]
        ]
    },
    {
        "id": "4ecfa963f38e97a7",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "dry",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 70,
        "y": 800,
        "wires": [
            [
                "7598f299465805cb"
            ]
        ]
    },
    {
        "id": "4aba058f0166b4f3",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "safe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 70,
        "y": 640,
        "wires": [
            [
                "5a099c22c2916f5e"
            ]
        ]
    },
    {
        "id": "9aa3344a47ff8c5d",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "Force 35C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "e0e6e48c7864c1f7"
            ]
        ]
    },
    {
        "id": "1c08a5507858e808",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "Force 15C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "e0e6e48c7864c1f7"
            ]
        ]
    },
    {
        "id": "2def66f8c51f2dad",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "Force 80%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "num",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "aeae6b10569c1198"
            ]
        ]
    },
    {
        "id": "4640c60a81cb678f",
        "type": "inject",
        "z": "563879ac53263647",
        "name": "Force 35%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "aeae6b10569c1198"
            ]
        ]
    },
    {
        "id": "a2c6c0e41776873a",
        "type": "delay",
        "z": "563879ac53263647",
        "name": "Traffic Control",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "prepare_context"
            ]
        ]
    },
    {
        "id": "44e1281ec9c7fbaa",
        "type": "delay",
        "z": "563879ac53263647",
        "name": "Emergency Gate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 720,
        "wires": [
            [
                "prepare_context"
            ]
        ]
    },
    {
        "id": "9ca9594b5fa775da",
        "type": "debug",
        "z": "563879ac53263647",
        "name": "Smoke Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "c3b23103c3dc36df",
        "type": "debug",
        "z": "563879ac53263647",
        "name": "Leak Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 820,
        "wires": []
    },
    {
        "id": "bc139e73cc1edd10",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]